<div class="question_new_contents">
 <div class="question_new_content">  
    <div class="question_new_content_title">
     <h2></h2>
    </div> 
    <div class="question_items">
    <%= form_with model: @question, url: questions_path, local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object  %>

      <div class = "item-1">
        <div class="i_line_fix">相談内容</div> 
        <div class="field">
          <%= f.collection_select(:consultation_content_id, ConsultationContent.all, :id, :name, {}, {class:"consultation_content_id"}) %>
        </div> 
      </div> 
      <div class = "item-2">
        <div class="i_line_fix"><p>時期<br>（検査日や発症日を入力）</p></div> 
        <div class="field">
          <%= f.date_field :date, size: "20x30", class: 'form-control'%>
      </div>
      </div>
      <div class = "item-3">
          <div class="i_line_fix">件名</div>
          <div class="field">
            <%= f.text_field :subject, class:"body-region", placeholder:" 例）右足、左手中指、胃カメラについて" %>
          </div>
      </div>
      <div class = "item-4">
          <div class="i_line_fix">詳細</div>
          <div class="field">
            <%= f.text_area :detail, size: "45x10", class:"detail", placeholder:"例）腫れている、検査は何時から？退院時期はいつか" %>
          </div>
      </div>
      <div class="question_content-submit">
        <%= button_tag type: "submit", class: "btn btn-default btn-s-md" do %>
            <i class="fas fa-user-nurse fa-3x"></i>
            <i class="fas fa-paper-plane fa-3x"></i>
        <% end %>
      </div>
    <% end %>
    </div>
 </div>
</div>   