<div class="symptom_contents">
 <div class="symptom_content">  
    <div class="symptom_content_title">
     <h2>症状について教えてください。</h2>
    </div> 
    <div class="symptom_items">
    <%= form_with model: @symptom, local: true do |f| %>
      <div class = "item-1">
        <div class="i_line_fix">いつから</div> 
        <div class="field">
          <%= f.date_field :oneset_time, size: "10x30", class: 'form-control'%>
        </div>
      </div>
      <div class = "item-2">
          <div class="i_line_fix">どこが</div>
          <div class="field">
            <%= f.text_field :body_region, class:"body-region", placeholder:" 例）右足、左手中指" %>
          </div>
      </div>
      <div class = "item-3">
          <div class="i_line_fix">どんな風になっている</div>
          <div class="field">
            <%= f.text_area :condition, size: "40x10", class:"detail", placeholder:"例）腫れている、赤くなっている" %>
          </div>
      </div>
      <div class="checkup_content-submit">
        <%= button_tag type: "submit", class: "btn btn-default btn-s-md" do %>
            <i class="fas fa-user-nurse fa-3x"></i>
            <i class="fas fa-paper-plane fa-3x"></i>
        <% end %>
      </div>
    <% end %>
    </div>
 </div>
</div>   